body {
    background-color: darkcyan;
}

#brand {
    background-color: rgb(73, 129, 234);
    text-align: center;
    color: white;
}

input {
    display: flex;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

#form-box {
    background-color: orange;
    margin: auto;
    width: 10cm;
    text-align: center;
    border: 1px ridge black;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 10px;
}

#content-box {
    margin: auto;
}

thead {
    background-color: var(--bs-dark);
}

.table {
    text-align: center;
    margin: auto;
    width: 6cm;
}

.tools {
    background-color: rgb(2, 242, 255);
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
}