#login-container {
    background-color: orange;
    width: 11cm;
    text-align: center;
    display: block;
    border: 2px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.193);
    margin: auto;
    margin-top: 4px;
}

.form-labels {
    font-size: 26px;
}

.form-inputs {
    text-align: center;
    font-size: 24px;
}

.submits {
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    font-size: 18px;
}