header {
    background-color: blueviolet;
    text-align: center;
    color: white
}

.links {
    display: inline;
    text-decoration: none;
    color: white;
}

.btn-outline {
    padding: 10px;
    color: white;
}

#brand {
    float: left;
}

#author {
    position: relative;
    float: right;
    top: 7px
}