.tools-labels {
    font-size: 22px;
}

.tools-inputs {
    display: flex;
    text-align: center;
    margin: auto;
    font-size: 18px;
    margin-bottom: -20px;
}

.tool-copyarea:active {
    background-color: #9a9a9c;
}

#form-box {
    background-color: rgb(230, 151, 4);
    margin: auto;
    width: 12cm;
    text-align: center;
    border: 1px ridge black;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 10px;
    display: block;
}

.manager-buttons {
    margin-right: 2px;
    margin-left: 2px;
}

#tool {
    border: 2px ridge black;
}

#content-box {
    margin: auto;
    overflow: auto;
    width: 320px;
    height: 270px;
}

thead {
    background-color: var(--bs-dark);
    font-size: 24px;
}

#link {
    resize: none;
    height: 100px;
    width: 380px;
    font-size: 14px;
    text-align: center;
    border: 2px solid black;
}

.btn {
    margin-bottom: 8px;
}

.table {
    text-align: center;
    margin: auto;
    width: 8cm;
    font-size: 20px;
}

.tools {
    background-color: rgb(2, 242, 255);
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
}